
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{

    background:url(/formjs/colorful-wallpaper-background-multicolored-generative-ai_91128-2257.avif) no-repeat ;
    background-position: center;
    background-size: cover;
    min-height: 100hv;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
}
.form-box{
    position: relative;
    width: 400px;
    height: 550px;
    border: 2px solid rgba(2355,255,2550.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;

}
.form-box h2{
    color: #161515;
    text-align: center;
    font-size: 32px;

}
.form-box .input-box{
        position: relative;
        margin: 30px 0;
        width: 310px;
        border-bottom: 2px solid white;
    
    }
    .form-box .input-box input{
        width: 100%;
        height: 45px;
        border: none;
        outline:none ;
        background: transparent;
        padding: 0 20px 0 5px;
        color: rgb(26, 24, 24);
        font-size: 16px;
    }
    .input ::placeholder{
        color: rgb(26, 25, 25);
    }
    .btn{
        color: antiquewhite;
        background-color: blue;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        outline: none;
        border: none;
        font-size: 17px;
        cursor: pointer;
        box-shadow: 3px 0 10px rgba(0,0,0,.5);
        border-radius: 5px;

    }
    #result{
        color: red;
        font-weight: 600;
        position: relative;
        top: 25px;
    }
    
